.vscode/launch.json
obj/*.mod
obj/*.o
assets
release

demo/simout/2000_biomass_pot_1.asc
demo/simout/2000_biomass_pot_2.asc
demo/simout/2000_cell_1_1.csv
demo/simout/2000_cell_2_1.csv
demo/simout/2000_cell_3_1.csv
demo/simout/2000_cell_4_1.csv
demo/simout/2000_cellinfo_1_1.csv
demo/simout/2000_cellinfo_2_1.csv
demo/simout/2000_cellinfo_3_1.csv
demo/simout/2000_cellinfo_4_1.csv
demo/simout/2000_cellparameters_1_1.csv
demo/simout/2000_cellparameters_2_1.csv
demo/simout/2000_cellparameters_3_1.csv
demo/simout/2000_cellparameters_4_1.csv
demo/simout/2000_eff_tot.asc
demo/simout/2000_eva_act_agr.asc
demo/simout/2000_eva_pot_agr.asc
demo/simout/2000_flux_tot.asc
demo/simout/2000_irr_loss.asc
demo/simout/2000_irr_mean.asc
demo/simout/2000_irr_nr.asc
demo/simout/2000_irr_tot.asc
demo/simout/2000_month1_caprise.asc
demo/simout/2000_month1_et_act.asc
demo/simout/2000_month1_et_pot.asc
demo/simout/2000_month1_flux2.asc
demo/simout/2000_month1_irr_distr.asc
demo/simout/2000_month1_irr_loss.asc
demo/simout/2000_month1_irr_privw.asc
demo/simout/2000_month1_irr.asc
demo/simout/2000_month1_prec.asc
demo/simout/2000_month1_runoff.asc
demo/simout/2000_month1_trasp_act.asc
demo/simout/2000_month1_trasp_pot.asc
demo/simout/2000_month2_caprise.asc
demo/simout/2000_month2_et_act.asc
demo/simout/2000_month2_et_pot.asc
demo/simout/2000_month2_flux2.asc
demo/simout/2000_month2_irr_distr.asc
demo/simout/2000_month2_irr_loss.asc
demo/simout/2000_month2_irr_privw.asc
demo/simout/2000_month2_irr.asc
demo/simout/2000_month2_prec.asc
demo/simout/2000_month2_runoff.asc
demo/simout/2000_month2_trasp_act.asc
demo/simout/2000_month2_trasp_pot.asc
demo/simout/2000_month3_caprise.asc
demo/simout/2000_month3_et_act.asc
demo/simout/2000_month3_et_pot.asc
demo/simout/2000_month3_flux2.asc
demo/simout/2000_month3_irr_distr.asc
demo/simout/2000_month3_irr_loss.asc
demo/simout/2000_month3_irr_privw.asc
demo/simout/2000_month3_irr.asc
demo/simout/2000_month3_prec.asc
demo/simout/2000_month3_runoff.asc
demo/simout/2000_month3_trasp_act.asc
demo/simout/2000_month3_trasp_pot.asc
demo/simout/2000_month4_caprise.asc
demo/simout/2000_month4_et_act.asc
demo/simout/2000_month4_et_pot.asc
demo/simout/2000_month4_flux2.asc
demo/simout/2000_month4_irr_distr.asc
demo/simout/2000_month4_irr_loss.asc
demo/simout/2000_month4_irr_privw.asc
demo/simout/2000_month4_irr.asc
demo/simout/2000_month4_prec.asc
demo/simout/2000_month4_runoff.asc
demo/simout/2000_month4_trasp_act.asc
demo/simout/2000_month4_trasp_pot.asc
demo/simout/2000_month5_caprise.asc
demo/simout/2000_month5_et_act.asc
demo/simout/2000_month5_et_pot.asc
demo/simout/2000_month5_flux2.asc
demo/simout/2000_month5_irr_distr.asc
demo/simout/2000_month5_irr_loss.asc
demo/simout/2000_month5_irr_privw.asc
demo/simout/2000_month5_irr.asc
demo/simout/2000_month5_prec.asc
demo/simout/2000_month5_runoff.asc
demo/simout/2000_month5_trasp_act.asc
demo/simout/2000_month5_trasp_pot.asc
demo/simout/2000_month6_caprise.asc
demo/simout/2000_month6_et_act.asc
demo/simout/2000_month6_et_pot.asc
demo/simout/2000_month6_flux2.asc
demo/simout/2000_month6_irr_distr.asc
demo/simout/2000_month6_irr_loss.asc
demo/simout/2000_month6_irr_privw.asc
demo/simout/2000_month6_irr.asc
demo/simout/2000_month6_prec.asc
demo/simout/2000_month6_runoff.asc
demo/simout/2000_month6_trasp_act.asc
demo/simout/2000_month6_trasp_pot.asc
demo/simout/2000_month7_caprise.asc
demo/simout/2000_month7_et_act.asc
demo/simout/2000_month7_et_pot.asc
demo/simout/2000_month7_flux2.asc
demo/simout/2000_month7_irr_distr.asc
demo/simout/2000_month7_irr_loss.asc
demo/simout/2000_month7_irr_privw.asc
demo/simout/2000_month7_irr.asc
demo/simout/2000_month7_prec.asc
demo/simout/2000_month7_runoff.asc
demo/simout/2000_month7_trasp_act.asc
demo/simout/2000_month7_trasp_pot.asc
demo/simout/2000_month8_caprise.asc
demo/simout/2000_month8_et_act.asc
demo/simout/2000_month8_et_pot.asc
demo/simout/2000_month8_flux2.asc
demo/simout/2000_month8_irr_distr.asc
demo/simout/2000_month8_irr_loss.asc
demo/simout/2000_month8_irr_privw.asc
demo/simout/2000_month8_irr.asc
demo/simout/2000_month8_prec.asc
demo/simout/2000_month8_runoff.asc
demo/simout/2000_month8_trasp_act.asc
demo/simout/2000_month8_trasp_pot.asc
demo/simout/2000_month9_caprise.asc
demo/simout/2000_month9_et_act.asc
demo/simout/2000_month9_et_pot.asc
demo/simout/2000_month9_flux2.asc
demo/simout/2000_month9_irr_distr.asc
demo/simout/2000_month9_irr_loss.asc
demo/simout/2000_month9_irr_privw.asc
demo/simout/2000_month9_irr.asc
demo/simout/2000_month9_prec.asc
demo/simout/2000_month9_runoff.asc
demo/simout/2000_month9_trasp_act.asc
demo/simout/2000_month9_trasp_pot.asc
demo/simout/2000_month10_caprise.asc
demo/simout/2000_month10_et_act.asc
demo/simout/2000_month10_et_pot.asc
demo/simout/2000_month10_flux2.asc
demo/simout/2000_month10_irr_distr.asc
demo/simout/2000_month10_irr_loss.asc
demo/simout/2000_month10_irr_privw.asc
demo/simout/2000_month10_irr.asc
demo/simout/2000_month10_prec.asc
demo/simout/2000_month10_runoff.asc
demo/simout/2000_month10_trasp_act.asc
demo/simout/2000_month10_trasp_pot.asc
demo/simout/2000_month11_caprise.asc
demo/simout/2000_month11_et_act.asc
demo/simout/2000_month11_et_pot.asc
demo/simout/2000_month11_flux2.asc
demo/simout/2000_month11_irr_distr.asc
demo/simout/2000_month11_irr_loss.asc
demo/simout/2000_month11_irr_privw.asc
demo/simout/2000_month11_irr.asc
demo/simout/2000_month11_prec.asc
demo/simout/2000_month11_runoff.asc
demo/simout/2000_month11_trasp_act.asc
demo/simout/2000_month11_trasp_pot.asc
demo/simout/2000_month12_caprise.asc
demo/simout/2000_month12_et_act.asc
demo/simout/2000_month12_et_pot.asc
demo/simout/2000_month12_flux2.asc
demo/simout/2000_month12_irr_distr.asc
demo/simout/2000_month12_irr_loss.asc
demo/simout/2000_month12_irr_privw.asc
demo/simout/2000_month12_irr.asc
demo/simout/2000_month12_prec.asc
demo/simout/2000_month12_runoff.asc
demo/simout/2000_month12_trasp_act.asc
demo/simout/2000_month12_trasp_pot.asc
demo/simout/2000_net_flux_gw.asc
demo/simout/2000_prec_tot.asc
demo/simout/2000_run_tot.asc
demo/simout/2000_trasp_act_tot.asc
demo/simout/2000_trasp_pot_tot.asc
demo/simout/2000_yield_act_1.asc
demo/simout/2000_yield_act_2.asc
demo/simout/2000_yield_pot_1.asc
demo/simout/2000_yield_pot_2.asc
demo/simout/IC_thetaI.asc
demo/simout/IC_thetaII.asc
